<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118922314157-tsnc7g33ghvfae5d7kh8l5c79vc7uit4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118922314157-tsnc7g33ghvfae5d7kh8l5c79vc7uit4</string>
	<key>API_KEY</key>
	<string>AIzaSyBM9KSyPzUzKMbcpqZvEDgAvmdEW22Bp7o</string>
	<key>GCM_SENDER_ID</key>
	<string>118922314157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ryanjohnson.StepTracker</string>
	<key>PROJECT_ID</key>
	<string>steptracker-58e4c</string>
	<key>STORAGE_BUCKET</key>
	<string>steptracker-58e4c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118922314157:ios:0b101b45a0e367da1ae124</string>
</dict>
</plist>